@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

/* ********************************* NAVBAR ***************************** */
header nav {
    overflow: hidden;
    background-color: bisque;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 2;

}

header li {
    float: right;
    font-size: 1.2em;

}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;

}

#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}

/* ******************************* IMAGE PRINCIPALE ****************** */
#imagePrincipale {
    padding-top: 60px;
    background: url(media/Fond-mas-st-paul.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;

}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 70px;
    text-shadow: 1px 3px 2px black;
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: antiquewhite;
    box-shadow: 1px 3px 2px black;
}

h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* ******************************* PRESENTATION ***************************** */
#presentation {
    background-color: rgba(248, 230, 203, 0.436);
    padding: 10px 0px 100px 0;
}

#textIntro {
    padding: 0px 20%;
}

#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;

}

.imagesPrestations h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 30px;
    font-weight: 300;
}

.imagesPrestations img {
    border-radius: 0px 20px 0px 20px;
    box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;

}

.imagesPrestations img:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

@media (max-width : 1920px) {
    .imagesPrestations img {
        height: 300px;
    }
    .imagestourisme1, .imagestourisme2, .imagestourisme3 img {
        margin: 50px 0;
      
    }
    #tourisme p {
        margin: 50px 0;
    
    }

}

@media (max-width : 1270px) {
    #prestations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
    .imagesPrestations img {
        height: 400px;
    }
    .imagesNoustrouver img {
        
    height: 250px;
    }

    .imagestourisme1, .imagestourisme2, .imagestourisme3 img {
        margin: 50px 0;
      
    }
    #tourisme p {
        margin: 50px 0;
    
    }

}
@media (max-width : 650px) {
        
    #logo {
        font-size: 1.2em;
    }
    header li {
        float: right;
        font-size: 1em;
        
    }
    header li a {
      
        padding: 10px 10px;
    
    }
    h1 {
    
        font-size: 5em;
        
    }
    h3 {
        
        font-size: 2em;
     
    }
    .imagesPrestations img {
        
        object-fit: cover;
        max-width: 80%;
        

    }
    .imagesNoustrouver img {
        object-fit: cover; 
        max-width: 80%;
    }
    .imagestourisme1 img {
        
       width: 80%;
    

    }
    .imagestourisme2 img {
        width: 80%;
     
 
     }
     .imagestourisme3 img {
        width: 80%;
     
 
     }
    }

.imagesNoustrouver img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.6);

}

.imagesNoustrouver h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 30px;
    font-weight: 300;
}

.imagesNoustrouver img:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

/* ************************************ TOURISME **************************** */

#tourisme {
    height: 1900px;
    flex-wrap: wrap;
    background-color: rgba(166, 167, 168, 0.705);
    padding: 1px 2%;

}

#tourisme h2 {
    padding-top: 60px;

}



#tourisme p {
    border-radius: 15px 15px 15px 15px;
    height: 45px;
    width: 235px;
    background-color: bisque;
    float: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.6);

}



.imagestourisme1 img {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;



}

.imagestourisme2 img {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;



}

.imagestourisme3 img {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;



}



/* ************************ FOOTER **************************** */
footer {
    background-color: rgba(255, 228, 196, 0.811);
    color: rgb(0, 0, 0);
    padding: 20px 0 10px 0;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 900 px;

}

input,
textarea,
button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;

}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: rgba(166, 167, 168, 0.825);

}

button:hover {
    background-color: rgb(128, 128, 129);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: rgba(166, 167, 168, 0.825);
    margin: 60px auto;
}

#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: rgb(0, 0, 0);

}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    margin: 0 15px;
}
